*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
}

#header {
  padding: 12px 15px;
  background-color: black;
  text-align: center;
}

a {
  text-decoration: none; /* no underline */
}

#header_video {
  color: white;
  font-weight: 700;
  font-style: normal;
  letter-spacing: .2em;
  font-size: 11px;
}